CORBADO_PROJET_ID=pro-6765574282384365115
CORBADO_API_KEY=corbado1_G9W4X6SfXjML5d6srmYFjDCVeeHhl8
CORBADO_FRONTEND_API_URL=https://pro-6765574282384365115.frontendapi.cloud.corbado.io
CORBADO_BACKEND_API_URL=https://backendapi.cloud.corbado.io
